<div>
    <h3>
        该组件主要是：&nbsp;模块Rxjs的练习
        <br>
        在组件中使用 lodash （测试有效）
    </h3>
    <div class="content">
        <div class="input_con" style="margin-top: 20px;">
            <input type="text" />
        </div>
        <button (click)="getUser()">点我</button>
        {{this.currentUser?.login}}
    </div>
    <ul>
      <li *ngFor="let item of users">
        <span class="user-span" (click)="users$.next(item)">
          {{item.url}}
        </span>
      </li>
    </ul>
</div>
