<div class="basic scrollbar">
    <button class="cursor-point" nz-button nzType="default" (click)="back()">返回上一级</button>
    <button class="cursor-point" nz-button nzType="default" (click)="toggleStyle()">切换效果</button>
    <div class="m-10" [class.special]="isSpecial">Special</div>
    <div class="m-10" [style.color]="isSpecial ? 'red' : 'green'">Special</div>

    <button [routerLink]="['./basic_test/'+2020]" (click)="showParent = false">
        组件内部子路由-routerLink
    </button>

    <!-- <button (click)="toChildConponents()">
        组件内部子路由
    </button> -->

    <!-- <button [routerLink]="['/basic/'+userId]" (click)="showParent = true">
        返回
    </button> -->
    <button  (click)="backParentRouter()" class="{{configClass}}">
        返回
    </button>

    <div *ngIf="showParent" style="margin-top: 10px;">
        <button (click)="getConfigJson()">
            getConfigJson
        </button>
        <i class="iconfont icon-V"></i>
        使用模拟服务器，读取json文件内容
        <span class="red-f">❤</span>
        <app-code-toggle [imgId]="5"></app-code-toggle>
        <span>
            点击
            <em class="red-f">
                <i class="iconfont icon-jiantou-copy"></i>
            </em>
            <button>组件内部子路由</button>按钮，广播事件
        </span>
        <app-code-toggle [imgId]="6"></app-code-toggle>
        <p>$any()方法测试</p>
        <!-- <p>能不能展示哩？？ {{basicObj.bestByDate}}</p> -->
        <!-- <p>能不能展示哩？？ {{$any(basicObj).bestByDate}}</p> -->
        <p>安全导航运算符（ ? ）</p>
        <p>安全导航运算符---能不能展示哩？？ {{basicObj?.bestByDate}}</p>
        <p>非空断言 ！ </p>
        <!-- <p>非空断言---能不能展示哩？？ {{basicObj!.bestByDate}}</p> -->

        ------input--------

        <div style="background-color: #d8dddd;">
            <input class="input" type="text" #input (keyup)="onKey(input.value,$event)"
                (keyup.enter)="onEnter(input.value)">
            <p>在上面的input框中输入了（使用模板变量获取输入内容）：{{inputValues}}</p>
            <h4>管道的两种实现形式</h4>
            <a href="https://www.jianshu.com/p/64a9012cb1fb">网络地址(angular中使用pipe管道过滤结果集)</a>
            <div style="display: flex;justify-content: space-around;">
                <div>
                    <ul>
                        <li *ngFor="let item of (mockData | filter:{type: 'name',value: inputValues})">
                            {{item.name}}
                        </li>
                    </ul>
                </div>
                <div>
                    <ng-container *ngIf="(mockData | filter:{type: 'name',value: inputValues}) as result">
                        <div *ngFor="let item of result">
                            {{item.name}}
                        </div>
                        <p>Count: <b>{{result.length}}</b></p>
                    </ng-container>
                </div>
            </div>
        </div>

        <h4 class="red-f">使用自定义管道将循环数组精选排序...</h4>
        <h4 class="red-f">使用ngx-order-pipe 也有同样的效果...</h4>
        <ng-container *ngIf="mockData">
          <div *ngFor="let item of mockData | orderBy : 'id';index as labelIndex">
            <span [class]="{'red-f':item.id == 35}">{{item.name | pipeFunction: double }}</span>
          </div>

        <!-- <h4>测试ngFor，限定循环长度...</h4> -->
        <!-- <div *ngIf="mockData.length > 2">
            <div *ngFor="let items of mockData.slice(2)">
                <span>{{items.name}}</span>
            </div>
          </div> -->
        </ng-container>
        <hr>


        <!-- form表单 -->
        ------------------form---------------------
        <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
            <div>
                <label for="name">
                    Name
                </label>
                <input id="name" type="text" formControlName="name">
            </div>
            <div>
                <label for="address">
                    Address
                </label>
                <input id="address" type="text" formControlName="address">
            </div>
            <button ng-button naType="dafault" type="submit">购买</button>
        </form>
        ------------------form end---------------------

        <div class="ng-ul m-10">
            <ul>
                <li *ngFor="let item of mockData">{{item.name}}</li>
            </ul>
        </div>

        <app-svg></app-svg>
        <!-- 测试公共组件 -->
        <app-test></app-test>
    </div>
    <router-outlet></router-outlet>
</div>
