.content{
    padding: 20px 50px;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    .router-group{
        margin:10px;
        .router{
            padding: 5px;
            background-color: #b8d5f2;
            border-radius: 2px;
            margin-right:10px ;
            outline: none;
            cursor: pointer;
        }
    }
    
    .current_time{
        padding: 10px;
        background-color: #dedada;
        font-size: 20px;
        span{
            color: #23c689;
        }
    }
    .router-content{
        margin-top: 30px;
        background-color: #ece6e6;
        height: 80%;
    }
}
