
<div class="workitem scrollbar"
    onClickOutSide
    [bindFlag]="filter_list_show"
    (onClickOutSide)="onClickOutSide()">

    <!-- 测试 -->
    <div *ngIf="!(listShow$ | async)">
        <span class="red-f">父组件中</span>
        拿到的 listShow$ 初始值是一个false；
        <p>通过 *ngIf="!(listShow$ | async)" 展示了这一段文字</p>
    </div>

    <!-- 筛选 -->
    <div class="filter">
        <app-filter class="filter_frame" [filter_list_show]="filter_list_show" (shutFilterList)="closeFilterList()" (showFilterList)="showInputList()"></app-filter>
        <div class="other_option">
            <span>这个里是其他的操作....</span>
        </div>
    </div>
    <!-- 看板 -->
    <div class="workitem_kanban" >
        <h4>这里是看板内容...</h4>
    </div>
</div>