.cursor-point{
    cursor: pointer;
}
.input{
    outline: none;
    margin: 10px 0;
}
.red-f{
    color: red;
    font-size: 600;
}
.test{
    color: black;
    background-color: #29ddd9;
}
.m-10{
    margin: 10px 0;
}

.ng-ul > ul{
    border: 1px dotted #cccccc;
    list-style: none;
}