<div>
  <p>自定义鼠标右击事件</p>
  <ul nz-menu [style.width]="300">
    <li nz-menu-item (contextmenu)="contextMenu($event, menu)">中国</li>
    <li nz-menu-item (contextmenu)="contextMenu($event, menu)">美国</li>
    <li nz-menu-item (contextmenu)="contextMenu($event, menu)">英国</li>
  </ul>

  <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu nzInDropDown nzSelectable (nzClick)="close()">
      <li nz-menu-item (click)="openRenameListModal()">
        <i class="anticon anticon-edit anticon-right-margin"></i>
        <span>重命名</span>
      </li>
      <li nz-menu-item (click)="delete()">
        <i class="anticon anticon-delete anticon-right-margin danger"></i>
        <span class="danger">删除列表</span>
      </li>
    </ul>
  </nz-dropdown-menu>
</div>
